* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Source Sans 3";
}
.principale {
  display: flex;
  flex-direction: column;
  border: solid 1px #3b5998;
}
header {
  display: flex;
  width: max-content;
}
.headbg {
  max-width: 344px;
  max-height: 80px;
}
.thefacebook {
  object-fit: cover;
  max-width: 344px;
  max-height: 57px;
}
.head2 {
  display: flex;
  flex-direction: column;
}
ul {
  display: flex;
  background-color: #3b5999;
  height: 21px;
  font-weight: 400;
  font-size: 11px;
  gap: 10px;
  padding-top: 10px;
  color: white;
  list-style-type: none;
}
main {
  display: grid;
  grid-template-columns: 0.5fr 3.5fr;
  padding: 10px;
  gap: 2px;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 3px;
}
.quicksearch {
  display: flex;
  flex-direction: column;
  width: 117px;
  font-family: "Source Code Pro";
  font-weight: 400;
  font-size: 11px;
  letter-spacing: -1px;
  border: dashed 1px #3b5999;
  padding: 4px;
}
input {
  background-color: #d9dfea;
  width: 109px;
  height: 16px;
  border: 1px solid #3b5998;
}
.quicksearch3 {
  display: flex;
  gap: 15px;
}
.searchb {
  display: flex;
  width: 24px;
  height: 14px;
  background-color: #538adc;
  font-weight: 400;
  font-size: 11px;
  color: white;
  border: none;
  box-shadow: 0px 1px 1px 0px #3b5998;
  justify-content: center;
}
.quicknav {
  display: flex;
  flex-direction: column;
  width: 117px;
  font-weight: 400;
  font-size: 11px;
  color: #538adc;
  border: dashed 1px #3b5999;
  padding: 10px 4px;
  line-height: 11px;
}
.quicknav1 {
  display: flex;
  gap: 10px;
}
.edit {
  display: flex;
  gap: 5px;
}
.imgside {
  border: dashed 1px #3b5999;
}
.imgside2 {
  width: 125px;
  height: 519px;
}
.right {
  display: flex;
  border: 1px solid #3b5998;
  height: max-content;
  gap: 5px;
}
.right2 {
  display: flex;
  flex-direction: column;
  height: max-content;
  gap: 10px;
  padding: 10px 10px;
}
.headbryanprofile {
  display: flex;
  background-color: #3b5998;
  justify-content: space-between;
  font-weight: 400;
  font-size: 12px;
  color: white;
  padding: 2px;
}
.picture {
  width: 218px;
  height: 127px;
  border: 1px solid #3b5998;
}
.picturehead {
  display: flex;
  background-color: #3b5998;
  font-weight: 400;
  font-size: 12px;
  color: white;
}
.picturemain {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img1 {
  width: 100px;
  height: 100px;
}
.sbmpb {
  color: #538adc;
  font-weight: 400;
  font-size: 11px;
}
.sbm {
  width: 218px;
  height: 16px;
  border: 1px solid #3b5998;
}
.pb {
  width: 218px;
  height: 16px;
  border: 1px solid #3b5998;
  border-top: none;
}
.connection {
  width: 218px;
  height: 39px;
  border: 1px solid #3b5998;
}
.conenectionhead {
  background-color: #3b5998;
  color: white;
  font-family: "Source Code Pro";
  font-weight: 400;
  font-size: 12px;
}
.connectionmain {
  display: flex;
  font-weight: 400;
  font-size: 11px;
  align-items: center;
  justify-content: center;
}
.mf {
  width: 218px;
  height: 39px;
  border: 1px solid #3b5998;
}
.mfhead {
  background-color: #3b5998;
  color: white;
  font-family: "Source Code Pro";
  font-weight: 400;
  font-size: 12px;
}
.mfmain {
  display: flex;
  font-weight: 400;
  font-size: 11px;
  align-items: center;
  justify-content: center;
}
.friends19 {
  color: #538adc;
}
.access {
  width: 218px;
  height: 51px;
  border: 1px solid #3b5998;
}
.accesshead {
  background-color: #3b5998;
  color: white;
  font-family: "Source Code Pro";
  font-weight: 400;
  font-size: 12px;
}
.accessmain {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 11px;
  padding: 5px;
  justify-content: center;
}
.imgfriends {
  width: 218px;
  height: 239px;
  border: 1px solid #3b5998;
}
.imgfriendshead {
  background-color: #3b5998;
  color: white;
  font-family: "Source Code Pro";
  font-weight: 400;
  font-size: 12px;
}
.imgfriendsmain {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}
.row1 {
  display: flex;
  gap: 15px;
  margin-bottom: 5px;
}
.keralaimg {
  width: 52px;
  height: 77px;
}
.kerala {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  justify-content: center;
}
.jenniferimg {
  width: 46px;
  height: 62px;
}
.jennifer {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  align-items: center;
}
.amyimg {
  width: 53px;
  height: 38px;
}
.amy {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  align-items: center;
}
.row2 {
  display: flex;
  gap: 5px;
  margin-bottom: 0;
}
.sarahimg {
  width: 68px;
  height: 87px;
}
.sarah {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  align-items: center;
}
.vuimg {
  width: 63px;
  height: 43px;
}
.vu {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  align-items: center;
}
.vuimg {
  width: 63px;
  height: 43px;
}
.vu {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  align-items: center;
}
.brianaimg {
  width: 64px;
  height: 61px;
}
.briana {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  align-items: center;
}
.right3 {
  padding: 10px 10px;
}
.informations {
  height: max-content;
  border: 1px solid #3b5998;
  width: 303px;
}
.informationshead {
  background-color: #3b5998;
  color: white;
  font-family: "Source Code Pro";
  font-weight: 400;
  font-size: 12px;
}
th {
  font-weight: 700;
  font-size: 11px;
}
td {
  font-weight: 400;
  font-size: 11px;
}
.gras {
  font-weight: 700;
}
.bluehighlight {
  color: #538adc;
}
